<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">
	<select id="selectList" resultType="board" parameterType="int">
		SELECT ta.*
		  FROM (SELECT /*+ INDEX_DESC(b PK_BOARD)*/ ROWNUM rn
		             , b.*
		        FROM tbl_board b
		       ) ta
		       <![CDATA[
		 WHERE rn > (#{page} - 1) * 5
		   AND rn <= #{page} * 5]]>
	</select>
	<select id="selectBoard" resultType="board"
		parameterType="int">
		select * from tbl_board where board_no = #{boardNo}
	</select>

	<update id="updateCount" parameterType="int">
		update tbl_board
		set view_cnt = view_cnt + 1
		where board_no = #{boardNo}
	</update>

	<insert id = "insertBoard" parameterType = "board">
	insert into tbl_board ( board_no, title, content, writer)
	values(board_seq.nextval, #{title},#{content},#{writer})
	</insert>
	
	<delete id = "deleteBoard" parameterType = "int">
		delete from tbl_board where board_no = #{boardNo} 
	</delete>
	
</mapper>